name: Tag Creator
on:
  issues:
    types: [opened]
jobs:
  bumpversion:
    if: >-
      (
        startsWith( github.event.issue.title, '[bumpversion:major]') ||
        startsWith( github.event.issue.title, '[bumpversion:major]') ||
        startsWith( github.event.issue.title, '[bumpversion:major]')
      ) && (
        github.event.issue.user.login == 'lukasheinrich' ||
        github.event.issue.user.login == 'matthewfeickert' ||
        github.event.issue.user.login == 'kratsg'
      )
    env:
      IS_MAJOR: >-
          ${{ startsWith( github.event.issue.title, '[bumpversion:major]') }}
      IS_MINOR: >-
          ${{ startsWith( github.event.issue.title, '[bumpversion:minor]') }}
      IS_PATCH: >-
          ${{ startsWith( github.event.issue.title, '[bumpversion:patch]') }}
    runs-on: ubuntu-latest
    steps:
    - name: determine part
      run: |
        if [ $IS_MAJOR == 'true' ]
        then
          echo "::set-env name=BV_PART::major"
        elif [ $IS_MINOR == 'true' ]
        then
          echo "::set-env name=BV_PART::minor"
        else
          echo "::set-env name=BV_PART::patch"
        fi
    - uses: actions/github@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: label bumpversion/${{ env['BV_PART'] }}
    - uses: actions/checkout@master
    - name: install bumpversion
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install bumpversion
    - name: set up git user
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
    - name: run bumpversion ${{ env['BV_PART'] }}
      run: |
        bumpversion $BV_PART
    - name: push changes
      run: |
        git rev-parse HEAD
        git rev-parse master
        git describe --tags
        git rev-list -n 1 $(git describe --tags)
        git status

  always_job:
    name: Always run job
    runs-on: ubuntu-latest
    steps:
      - name: Always run
        run: echo "This job is used to prevent the workflow status from showing as failed when all other jobs are skipped. See https://github.community/t5/GitHub-Actions/Workflow-is-failing-if-no-job-can-be-ran-due-to-condition/m-p/38085 for more information."
